#button {
    top:50%;
    background-color:#11a2ce;
    color: #ffffff;
    border: none; 
    border-radius:10px; 
    padding: 6px;
    min-height:30px; 
    min-width: 120px;
    transition: 0.5s;
  }

#button:hover {
    background-color:#2275c4;
    color: #ffffff;
    transition: 0.5s;
    padding:9.5px;
}